Project_Cartographer.VC.db
Project_Cartographer.VC.VC.opendb
Project_Cartographer.vcxproj.user
*.exp
*.obj
*.tlog
*.ilk
*.log
*.sdf
*.rar
*.log
*.idb
*.java
*.suo
*.opendb
*.db
xlive.ilk
xliveless.aps
xliveless.opensdf
xliveless.v12.suo
**/.vs
**/.vscode
/Directx SDK/include
/Halo2
/Halo2Server
*.opensdf
*.user
*.ipch
*.pso
version_git.h

JSON/

/src/objects
src/version_git.h
src/3rdparty/imgui/lib
src/3rdparty/imgui/objects
src/3rdparty/spdlog/lib
src/3rdparty/spdlog/objects
src/3rdparty/tinyxml/lib
src/3rdparty/tinyxml/objects
src/3rdparty/zlib/lib
src/3rdparty/zlib/objects
